@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


 /* --------------------------------------- */
body,html{
    font-family: arial;
    color: #333;
    font-size: 16px;
    font-family: "Raleway", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}
.word {
    position: absolute;
    top: -22px;
    color: #f2f2f2;
    z-index: 999;
}
.word.active {
    transform: translateY(600px);
    -ms-transform: translateY(600px);
    -webkit-transform: -webkit-translateY(600px);
}
.word span{
    margin: 0 1px 0 0;
}
.word span.active {
    color: #34495e;
    border-bottom: 1px solid #34495e;
}
#game {
    font-size: 19px;
    width: 900px;
    margin: 0 auto;
    padding:0;
    height: 600px;
    border-bottom: 4px solid #d8d8d8;
    display:block;
    position: relative;
    overflow: hidden;
    background-image: url(imgs/bg.png);
    background-repeat: repeat;
}
#level{
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-top: -20px;
    font-size: 40px;
    font-weight: bold;
}
.city{
    background: red;
    position: absolute;
    bottom: 0;
    height: 10px;
    width: 200px;
}
.city:before{
    content: '';
    display: block;
    background-image: url(imgs/city.png);
    height: 109px;
    width: 200px;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-repeat: no-repeat;
    z-index: 99;
}
.city.state2:before{
    background-image: url(imgs/city-state2.png);

}
.city.state3:before{
    background-image: url(imgs/city-state3.png);
}
.city.state4:before{
    background-image: url(imgs/city-state4.png);
}
#city1{
    left: 70px;
}
#city2{
    left: 350px;
}
#city3{
    left: 630px;
}
.missile{
    bottom: -15px;
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: transform 3000ms ease-out;
    -webkit-transition: -webkit-transform 3000ms ease-out;
    background-image: url(imgs/rocket.gif);
    height: 44px;
    width: 16px;
}
.missile.active{
    transform: translateY(-620px);
    -ms-transform: translateY(-620px);
    -webkit-transform: -webkit-translateY(-620px);
}
.gameOver {
    font-size: 4em;
    background: #C63D0F;
    color: #f2f2f2;
    font-weight:bold;
    height: 100%;
    width:100%;
    z-index: 777;
    display:block;
    display:table;
}
.gameOver div {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    font-family: arial, helvetica;
}
#gameInfo{
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
    display: block;
    width: 900px;
    margin: 0 auto;
    padding: 10px;
    background: #F2F2F2;
    height: 38px;
    position: relative;
}
.gameInfo-score{
    position: absolute;
    right: 0;
    width:100px;
}
.explosion{
    position: absolute;
    bottom: -200px;
    height: 82px;
    width: 120px;
    display: block;
    background-image: url(imgs/explosion.gif);
    z-index: 999;
    display: none;
}
.explosion.active{
    display: block;
}
.city-explosion{
    position: absolute;
    bottom: -500px;
    height: 388px;
    width: 300px;
    display: block;
    background-image: url(imgs/city-explosion.gif);
    z-index: 999;
    display: none;
}
.city-explosion.active{
    display: block;
}
.fire{
    display: block;
    position: absolute;
    width: 201px;
    height: 70px;
    background-image: url(imgs/fire.gif);
    bottom: 7px;
    left: 0;
    display: none;
}
.city.state3 .fire,
.city.state4 .fire{
    display: block;
}
.cloud{
    position: absolute;
    -webkit-animation:linear infinite alternate;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}
#cloud1{
    top: 20px;
    width: 200px;
    height: 74px;
    background-image: url(imgs/cloud-static.gif);
    -webkit-animation-name: moveCloud1;
    -webkit-animation-duration: 30s;

}
#cloud2{
    top: 340px;
    width: 220px;
    height: 80px;
    background-image: url(imgs/cloud-static2.gif);
    -webkit-animation-name: moveCloud2;
    -webkit-animation-duration: 10s;

}
#cloud3{
    top: 200px;
    width: 160px;
    height: 56px;
    background-image: url(imgs/cloud-static3.gif);
    -webkit-animation-name: moveCloud3;
    -webkit-animation-duration: 20s;

}
@-webkit-keyframes moveCloud1 {
    0% { left: 5%;}
    50%{ left : 20%;}
    100%{ left: 5%;}
}
@-webkit-keyframes moveCloud2 {
    0% { left: 30%;}
    50%{ left : 25%;}
    100%{ left: 30%;}
}
@-webkit-keyframes moveCloud3 {
    0% { left: 70%;}
    50%{ left : 55%;}
    100%{ left: 70%;}
}